{% extends "basket/master.htm" %}

{% block title %}{{basket.name}}{% endblock %}

{% block head %}
    <script type="text/javascript">
        dropboxurl  = 'upload';
        dropboxdata = {
                        basket: {{basket.id}},
                      }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.filedrop.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dropbox.js') }}"></script>
{% endblock %}

{% block basket %}

<div class="row">
  {% for slide in basket.slides %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ url_for('slide.img_proxy', slide_id=slide.id) }}?width=300&height=200" alt="...">
      <div class="caption">
        <h3>
          <a href="{{ url_for('slide.view_slide', slide_id=slide.id) }}">{{slide.name}}</a>
        </h3>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="well" id="dropbox">
    <div class="message"></div>
    <div class="info"></div>
</div>

{% endblock %}
