{% extends "basket/master.htm" %}

{% block title %}{{basket.name}}{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.filedrop.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dropbox.js') }}"></script>
{% endblock %}

{% block basket %}

<div class="row">


  {% for basket in mybaskets %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>
          <a href="">{{basket.name}}</a>
        </h3>
        <p>
          {% if basket.description %}
            {{basket.description}}
          {% endif %} 
        </p>
      </div>
    </div>
  </div>
  {% endfor %}


</div>


<div class="well" id="dropbox">
    <div class="message"></div>
    <div class="info"></div>
</div>



{% endblock %}
