{% extends "basket/master.htm" %}

{% block title %}{{_('My Baskets')}}{% endblock %}

{% block basket %}

<form class="form-horizontal" action="/basket/create" method="post">
  <fieldset>
    
    <!-- Form Name -->
    <legend>{{_('Create New Basket')}}</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">{{_('Basket Name')}}</label>
      <div class="col-md-4">
        <input id="basketname" name="basketname" type="text" placeholder="Name" class="form-control input-md" required="">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">{{_('Description')}}</label>
      <div class="col-md-4">
        <textarea id="basketdescription" name="basketdescription" class="form-control input-md"></textarea>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submitbtn"></label>
      <div class="col-md-4">
        <button id="submitbtn" name="submitbtn" class="btn btn-success">{{_('Create')}}</button>
      </div>
    </div>
    
  </fieldset>
</form>


{% endblock %}
