{% extends "basket/master.htm" %}

{% block title %}My Baskets{% endblock %}

{% block basket %}

<form class="form-horizontal" action="/basket/create" method="post">
  <fieldset>
    
    <!-- Form Name -->
    <legend>New Basket</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Basket Name</label>
      <div class="col-md-4">
      <input id="basketname" name="basketname" type="text" placeholder="Name" class="form-control input-md" required="">
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submitbtn"></label>
      <div class="col-md-4">
        <button id="submitbtn" name="submitbtn" class="btn btn-success">Create</button>
      </div>
    </div>
    
  </fieldset>
</form>


{% endblock %}
