{% extends "master.htm" %}

{% block content %}

<ul class="nav nav-tabs" style="margin-bottom: 1em;">
  <li><a href="{{ url_for('.my_baskets') }}">{{ _('My Baskets') }}</a></li>
  <li><a href="#">{{ _('Starred') }}</a></li>
  {% if basket and basket.id and basket.owner == current_user %}
    <li><a href="{{ url_for('.edit', basketid=basket.id) }}">{{ _('Edit Basket') }}</a></li>
  {% endif %}
  <li class="nav navbar-nav navbar-right"><a href="{{ url_for('.edit') }}"><span class="glyphicon glyphicon-plus"></span>{{ _('New Basket') }}</a></li>
</ul>

{% block basket %}{% endblock %}

{% endblock %}
